<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body>
	<div class="container">
	  <div class="TitelArea">
		  <div class="wrapper">
		  	<h2>Forschungsstrategie</h2>
		  </div>
	  </div>
	  <div class="SubtitelArea">
	  	<div class="wrapper">
	  		<h3>Dies ist ein Dummy</h3>
	  	</div>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="strategie" id="strategie"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Dies ist ein Dummy</b> <br>
		  	<label>Dies ist ein Dummy</label> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="strategie1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a> 
				</div>
			</div> 
		</div>  	
	</div>
	
	<script type="text/javascript">
		if(sessionStorage.getItem("strategie")){
			document.getElementById("strategie").innerHTML = sessionStorage.getItem("strategie")
		}
	
	
		function saveInSession() {
			var data = document.getElementById("strategie").value
			sessionStorage.setItem("strategie", data);
		}
	</script>
	
</body>
</html>