<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<title>Prototype</title>
</head>
<body onload="init()" style="background: gray;">
<div class="center" id="printContent">
	<div class="printparent">
		<div class="parent">
			<div class="div1"> 
				<div class="canvasprintheader">
		  			<b>Eigene Person</b>
		  		</div>
		  		<div class="canvasprintlabeldiv" style="display: block">
		  			<label class="canvasprintlabel" id="pers"></label> <br> <br>
		  			<label class="canvasprintlabel" id="interests"></label> <br> <br>
		  			<label class="canvasprintlabel" id="expectation"></label> <br> <br>
		  			<label class="canvasprintlabel" id="experience"></label> <br> <br>
		  			<label class="canvasprintlabel" id="skills"></label> <br> <br>
		  			<label class="canvasprintlabel" id="etc"></label><br> <br>
		  		</div>
	 		</div>
			<div class="div2"> 
				<div class="canvasprintheader">
		  			<b>Betreuungsperson</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="supervisor"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div3"> 
				<div class="canvasprintheader">
		  			<b>Stärken</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="strength"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div4"> 
				<div class="canvasprintheader">
		  			<b>Forschungsthema</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="topic"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div5"> 
				<div class="canvasprintheader">
		  			<b>Problemstellung</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="problem"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div6"> 
				<div class="canvasprintheader">
		  			<b>Forschungsfrage</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="questions"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div7"> 
				<div class="canvasprintheader">
		  			<b>Forschungsziel</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="researchgoal"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div8"> 
				<div class="canvasprintheader">
		  			<b>Forschungsdesign</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="design"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div9"> 
				<div class="canvasprintheader" style="margin-left: 5px">
		  			<b>Forschungsstrategie</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="strategie"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div10">
				<div class="canvasprintheader" >
		  			<b style="width: 90%">Methoden und Techniken</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="method"></label> <br> <br>
		  		</div>
 			</div>
			<div class="div11"> 
				<div class="canvasprintheader">
		  			<b>Forschungsergebnis</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="result"></label> <br> <br>
		  		</div>
	 		</div>
			<div class="div12"> 
				<div class="canvasprintheader">
		  			<b>Schwächen/Risiken</b>
		  		</div>
  				<div class="canvasprintlabeldiv">
		  			<label class="canvasprintlabel" id="weaknesses"></label> <br> <br>
		  		</div>
	 		</div>
 		</div>
	</div>
</div>
	<div class="canvasNavbarcontainer">
		<div class="wrappermarginmid" style="padding: 10px  ">
			<div class="persNavbar" style="width: 128px; margin-left: auto;margin-right: auto">
			 	<a id="canvasButton" style="float:left" href="../canvas.html" ><img alt="" src="../../icons/back.png"></a>  
			 	<a id="printButton" style="float:left" onclick="onPrintClick()"><img alt="" src="../../icons/printer.png"></a> 
			</div>
	</div> 	
</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/printController.js"></script>
		<script src="../../controller/tooltipController.js"></script>
</body>
</html>