<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container" style="grid-template-rows: 12% 20% 61% 7%;">
	  <div class="TitelArea">
		  	<h2>Forschungsthema</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Bei der Entwicklung der Themenstellung geht es darum, dass Du einen Themenbereich aus wirtschaftsinformatik-relevanten Wissensbereichen und Disziplinen entwickelst.<br>
			Du stellst klar und deutlich dar, wie Du zu aus der Menge der relevanten Teilbereiche einen Bereich fokussierst, an denen sie sich überlappen. <br>
			
			Anschließend präzisierst Du aus diesem Überlappungsbereich einen engeren Themenbereich und formst daraus ein bearbeitbares Thema für Deine Forschungsarbeit. <br>
			Du rechtfertigst dabei, wieso die Bearbeitung dieses Themas Relevanz für Deinen ausgewählten Forschungsbereich besitzt. <br>
			
			Du beschreibst dieses Thema angemessen und formulierst auf dieser Basis einen Titel für Deine Forschungsarbeit. Dabei benennst Du klar den Gegenstands und das Feld, aus dem dieser entstammt. Außerdem wird mit Deiner Themenbeschreibung und Deinem Titel deutlich, in welcher Weise Du das Thema bearbeiten wirst und mit welcher Perspektive Du auf das Thema blickst. Der Titel stellt den vorläufigen Arbeitstitel Deiner Arbeit dar.<br> 
			
			Mit dem Titel gibst Du bereits Hinweise darauf, was von Deiner Arbeit zu erwarten ist und auf welche Art Du Forschung betreiben willst. Spätestens bei der Anmeldung Deiner Abschlussarbeit beim Prüfungsamt musst Du einen finalen Titel fixiert haben.<br>
			</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="topic" id="topic"  maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Leitfragen</b> <br>
		  		<label>
		  			Stammt das Thema aus einem für die Wirtschaftsinformatik relevanten Bereich?<br><br>
					Ist das Thema angemessen für Dein persönliches Profil?<br><br>
					Welche zentralen Aussagen treffen die verschiedenen Disziplinen zum gewählten Thema?<br><br>
					Wie rechtfertigst Du die Wahl Deines Themas?<br><br>
					Hast Du genügend Motivation und Ausdauer zur Bearbeitung diese Themas?<br><br>
					Besitzt Dein Thema einen angemessenen Umfang? <br><br>
					Ist es weder zu breit noch zu eng? <br><br>
					Ist Dein Thema geeignet, um flexibel zu sein in der Bearbeitung?<br><br>
					Ist es realistisch, dass Du es in der verfügbaren Zeit bearbeiten kannst?<br><br>
					Kannst Du einen angemessen Anteil an Eigenleistung bei der Bearbeitung Deines Themas ermöglichen?<br><br>
					Besitzt Dein Thema ein interessantes Problem, das Du mit Deinem Forschungsvorhaben bearbeiten kannst?<br><br>
				</label>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="topic1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
			  	 	<a id="checkButton" href="topicSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
			  	 	<a id="nextButton" href="topicSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a> --> 
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/topicController.js">
	
	</script>
	
</body>
</html>