<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container" style="grid-template-rows: 12% 20% 61% 7%;">
	  <div class="TitelArea">
		  	<h2>Methoden und Techniken</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Aus der Diversität der Forschungsstrategien und der Vielfalt innerhalb der Wirtschaftsinformatik ergibt sich eine Bandbreite möglicher Methoden, die Du anwenden kannst. 

				Mit der Methode wird festgelegt mit welchem konkreten wissenschaftlichen Instrumentarium Forschung betrieben wird, d.h. Daten gesammelt und ausgewertet werden oder Informationssysteme modelliert, entworfen, implementiert, getestet und evaluiert werden.
				
				Eine Methode ist also eine Menge von Schritten, die befolgt werden, um eine gegebeneAufgabe systematisch zu erfüllen.<br>
				
				Methoden werden angewendet, um Forschungsstrategien umzusetzen. Sie machen die Forschungsstrategie greifbar und konkret. <br>
				
				Jeder Forschungsstrategie wird eine bestimmte Gruppe von Methoden eher zugerechnet als andere. Es ergeben sich somit folgende Gruppen von Methoden: <br>
				●	Quantitative Methoden<br>
				●	Qualitative Methoden<br>
				●	Design Science Research Methoden<br>

				Die Wahl der Methoden und Techniken wird maßgeblich von der Forschungsstrategie beeinflusst.
				
			</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="methods" id="methods"  maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Leitfragen</b> <br>
		  	<label>Mit welchem Vorgehen möchtest Du Deine Forschungsstrategie und Dein Forschungsdesign umsetzen?</label> <br><br>
		  	<label>Mit welchen Methoden und Techniken hast Du bereits Erfahrung?</label> <br><br>
		  	<label>Welche Methoden und Techniken eignen sich eher für die Beantwortung Deiner Forschungsfrage?</label> <br><br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="pers1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="methodSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="methodSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a id="safeButton" style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/methodController.js">
	</script>
	
</body>
</html>