<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Übersicht</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Bitte kontrolliere noch einmal deine zuvor getätigten Eingaben. Wenn du mit allem einverstanden bist, speichere unten rechts deine Daten.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage"  maxlength="100"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Kontrolle</b> <br>
			  	<label>Die zu lösende Problemstellung wird klar beschrieben.</label> <br> <br>
				<label>Der Kontext der Problemstellung (AdressatInnen, zeitlicher oder sachlicher Bezug, Grund, Konsequenzen) wird beschrieben.</label> <br> <br>
		   		<label>Eine Verbindung zwischen der Problemstellung und den die vorliegende Arbeit prägenden Themenfeldern ist erkennbar.</label> <br> <br>
		   		<label>Die wissenschaftliche Relevanz der Problemstellung wird herausgestellt.</label> <br> <br>
		   		<label>Die praktische Relevanz der Problemstellung wird herausgestellt.</label> <br> <br>
		   		<label>Wesentliche, für das Verständnis der Problemstellung relevante Fachbegriffe werden, beispielsweise mit einer kurzen (Arbeits-)Definition, eingeführt.</label> <br> <br>
		   		<label>Optional: Das Problem wird in Teilprobleme zerlegt.</label> <br> <br>
		   		<label>Optional: Ein möglicher persönlicher Bezug zur Problemstellung wird hergestellt und das eigene Erkenntnisinteresse erläutert.</label> <br> <br>
		   		<label>Optional: Die wissenschaftliche Relevanz des Themas bzw. der Problemstellung wird durch passende, möglichst hochwertige und aktuelle Quellen belegt.</label> <br> <br>
		   		<label>Optional: Die praktische Relevanz des Themas bzw. der Problemstellung wird durch passende, möglichst hochwertige und aktuelle Quellen belegt.</label> <br> <br>
		   </div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="problem1.html"><img alt="" src="../../icons/1.png"></a> 
		  			<a id="checkButton" class="active" href="problemSave.html"><img alt="" src="../../icons/notepad.png"></a> 
				  	<!-- <a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a> 
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/problemController.js"></script>
</body>
</html>