<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../style.css">
	<title>Prototype</title>
</head>
<body onload="init()">
	<div class="parent">
		<div class="div1"> 
			<div class="canvasheader">
	  			<b>Eigene Person</b>
	  			<img alt="" src="../icons/Person.PNG">
	  		</div>
	  		<div class="canvascenter">
	  			<a href="personal/pers1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="persInputCheck" >
  			</div>
 		</div>
		<div class="div2"> 
			<div class="canvasheader">
	  			<b>Betreuungsperson</b>
	  			<img alt="" src="../icons/Betreuer.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="supervisor/supervisor1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="supervisorInputCheck" >
  			</div>
 		</div>
		<div class="div3"> 
			<div class="canvasheader">
	  			<b>Stärken</b>
	  			<img alt="" src="../icons/Plus.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="strength/strength1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="strengthInputCheck" >
  			</div>
 		</div>
		<div class="div4"> 
			<div class="canvasheader">
	  			<b>Forschungsthema</b>
	  			<img alt="" src="../icons/Forschung.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="researchtopic/topic1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="topicInputCheck" >
  			</div>
 		</div>
		<div class="div5"> 
			<div class="canvasheader">
	  			<b>Problemstellung</b>
	  			<img alt="" src="../icons/Problem.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="problem/problem1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="problemInputCheck" >
  			</div>
 		</div>
		<div class="div6"> 
			<div class="canvasheader">
	  			<b>Forschungsfrage</b>
	  			<img alt="" src="../icons/Forschungsfrage.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="researchquestion/questions1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="questionInputCheck" >
  			</div>
 		</div>
		<div class="div7"> 
			<div class="canvasheader">
	  			<b>Forschungsziel</b>
	  			<img alt="" src="../icons/Ziel.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="goal/goal1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="goalInputCheck" >
  			</div>
 		</div>
		<div class="div8"> 
			<div class="canvasheader">
	  			<b>Forschungsdesign</b>
	  			<img alt="" src="../icons/Forschungsdesign.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="researchdesign/design1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="designInputCheck" >
  			</div>
 		</div>
		<div class="div9"> 
			<div class="canvasheader">
	  			<b>Forschungsstrategie</b>
	  			<img alt="" src="../icons/Strategie.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="researchstrategie/strategie1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="strategieInputCheck" >
  			</div>
 		</div>
		<div class="div10">
			<div class="canvasheader">
	  			<b>Methoden und Techniken</b>
	  			<img alt="" src="../icons/Methoden.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="methods/methods1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="methodsInputCheck" >
  			</div>
 		</div>
		<div class="div11"> 
			<div class="canvasheader">
	  			<b>Forschungsergebnis</b>
	  			<img alt="" src="../icons/Ergebnis.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="researchresult/result1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="resultInputCheck" >
  			</div>
 		</div>
		<div class="div12"> 
			<div class="canvasheader">
	  			<b>Schwächen/Risiken</b>
	  			<img alt="" src="../icons/Minus.PNG">
	  		</div>
	  		<div class="canvascenter">
  				<a href="weaknesses/weakness1.html">
  					Hier klicken um zu Bearbeiten!
  				</a>
  			</div>
  			<div class="canvasareafooter">
  				<img src="../icons/check.png" id="weaknessInputCheck" >
  			</div>
 		</div>
	</div>
	<div class="canvasNavbarcontainer">
	 		<div class="wrappermarginmid" style="padding: 10px">
					<div class="persNavbar">
					 	<a id="backButton" style="float:left" href="../index.html" ><img alt="" src="../icons/back.png"></a> 
					 	<a id="importButton" style="float:left" href="import.html" ><img alt="" src="../icons/down-arrow.png"></a> 
					 	<a id="exportButton" style="float:left" onclick="onExportClick()"><img alt="" src="../icons/export.png"></a> 
					 	<a id="printPageButton" style="float:left" href="print/print.html"><img alt="" src="../icons/printer.png"></a> 
					  	<a id="videoButton" style="float:right" href="video.html" ><img alt="" src="../pictures/youtubeIcon.png"></a> 
					  	<!-- <a style="float:right" href=""><img alt="" src="../pictures/speakerIcon.png"></a>  -->
					</div>
			</div> 	
 		</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../controller/canvasController.js"></script>
	<script src="../controller/tooltipController.js"></script>
</body>
</html>