<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../style.css">
	<title>Prototype</title>
</head>
<body>
	<div class="login-page">
	  <div class="form">
	    <form class="login-form">
	    	<label>Bitte einen JSON File auswählen</label>
	      	<input type="file" id="fileInput" value="Import" style="margin-top: 5px"> <br>
	     	<div style="margin-top: 5px;">
		   		<a href="canvas.html">Canvas</a>
		   	</div>
	    </form>
	  </div>
	</div>
</body>
<script src="../controller/jsonReader.js"></script>
</html>