<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Betreuer - Übersicht</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Bitte kontrolliere noch einmal deine zuvor getätigten Eingaben. Wenn du mit allem einverstanden bist, speichere unten rechts deine Daten.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage" maxlength="250"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Kontrolle</b> <br>
			  	<label>
			  		Du hast Dir bewusst gemacht, welches Profil Deine (mögliche) Betreuungsperson aufweist.<br><br>
					Du hast Dir verdeutlicht, welche Forschungsschwerpunkte Deine Betreuungsperson hat.<br><br>
					Du hast Dir klar gemacht, welche methodischen Fähigkeiten Deine Betreuungsperson hat.<br><br>
					Du hast eine Grundlage für die Entscheidung, ob Du von einer Betreuungsperson betreut werden willst oder nicht<br><br>
					Du kannst einschätzen, ob eine Betreuungsperson geeignet ist für Dein Forschungskonzept oder eher nicht.<br><br>
				</label><br>
			</div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="supervisor1.html"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" class="active" href="supervisorSave.html"><img alt="" src="../../icons/notepad.png"></a> 
				  	<!-- <a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a> 
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/supervisorController.js"></script>
</body>
</html>