<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body>
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Persönliche Daten</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Weitere Reflexionsgedanken zur eigenen Person</h3>
	  </div>
	  <div class="InputArea">
	  	<div class="wrapper">
	  	<textarea class="WholePageArea" id="etc" maxlength="100"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		  	<label>Hier kannst Du weitere Ideen, Gedanken oder ähnliches eintragen, die Du für wichtig erachtest.</label>
	   </div>
	  </div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="pers1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
			  	 	<a href="pers2.html" onclick="saveInSession()"><img alt="" src="../../icons/2.png"></a> 
			  	 	<a href="pers3.html" onclick="saveInSession()"><img alt="" src="../../icons/3.png"></a> 
			  	 	<a href="pers4.html" onclick="saveInSession()"><img alt="" src="../../icons/4.png"></a> 
			  	 	<a href="pers5.html" onclick="saveInSession()"><img alt="" src="../../icons/5.png"></a> 
				  	<a class="active" href="pers6.html" onclick="saveInSession()"><img alt="" src="../../icons/6.png"></a> 
				  	<a id="checkButton" href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a>
				  	<a id="nextButton" href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a> 
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 	
	  </div>
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript">
		if(sessionStorage.getItem("etc")){
			document.getElementById("etc").innerHTML = sessionStorage.getItem("etc")
		}

		function saveInSession() {
			var data = document.getElementById("etc").value
			sessionStorage.setItem("etc", data);
		}
	</script>
</body>
</html>