<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body>
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Persönliche Daten</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Interesse</h3>
	  </div>
	  <div class="InputArea">
	  	<div class="wrapper">
	  	<textarea class="WholePageArea" id="interests" maxlength="100"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Leitfragen</b> <br> <br>
		   	<label>Was interessiert Dich</label> <br>
		  	<label>... allgemein?</label> <br>
			<label>... in deinem Studium?</label> <br> <br>
			<label>Was hat Dir im Studium bisher am meisten Spaß gemacht?</label><br><br>
			<label>Welche Erfahrungen haben Dich geprägt?</label> <br> <br>
			<label>Welche Phänomene und Fragestellungen interessieren Dich?</label><br><br>
		  	<label>Was interessiert Dich überhaupt nicht?</label> <br>
	   </div>
	  </div>
	  <div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="pers1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
			  	 	<a class="active" href="pers2.html" onclick="saveInSession()"><img alt="" src="../../icons/2.png"></a> 
			  	 	<a href="pers3.html" onclick="saveInSession()"><img alt="" src="../../icons/3.png"></a> 
			  	 	<a href="pers4.html" onclick="saveInSession()"><img alt="" src="../../icons/4.png"></a> 
			  	 	<a href="pers5.html" onclick="saveInSession()"><img alt="" src="../../icons/5.png"></a> 
				  	<a href="pers6.html" onclick="saveInSession()"><img alt="" src="../../icons/6.png"></a> 
				  	<a id="checkButton" href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="pers3.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  <!-- 	<a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript">
		if(sessionStorage.getItem("interests")){
			document.getElementById("interests").innerHTML = sessionStorage.getItem("interests")
		}

		function saveInSession() {
			var data = document.getElementById("interests").value
			sessionStorage.setItem("interests", data);
		}
	</script>
</body>
</html>