<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
  		<h2>Forschungsdesign</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3 style="text-align: justify">Das Forschungsdesign stellt einen systematischen Plan zur Beantwortung der Forschungsfrage dar. Es bestimmt in groben Zügen, wie der Weg zur Beantwortung der Forschungsfrage verläuft und warum sich für diesen Weg entschieden wurde. Außerdem werden hierbei Umgebungsbedingungen analysiert, die das Beschreiten dieses Weges möglicherweise stören können. Jedes Forschungsdesign stellt somit eine individuelle Leistung dar und muss für jede Forschungsfrage und -vorhaben eigens entwickelt werden.
Am besten stellst Du Dir das Forschungsdesign wie einen Rahmen vor, der hauptsächlich Durch Deine verfügbare Zeit begrenzt ist. Eine Bachelorarbeit wird einen kleineren Rahmen haben als eine Masterarbeit. Somit ist das Forschungsdesign einer Bachelorarbeit auch kleiner. Was “aus dem Rahmen fällt”, ist nicht Bestandteil Deiner Abschlussarbeit!
</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="design" id="design"  maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Leitfragen</b> <br>
		  	<label>Ist mein Ziel die Beschreibung und das Verständnis eines Problems? 
				Möchte ich explorativ forschen, d.h. Problemräume erkunden?
				Prinzipiell käme dann ein beobachtender Ansatz infrage.
				</label> <br><br>
			<label>	Ist mein Ziel die Schaffung theoretischen Wissens? 
				Möchte ich das Verständnis über ein bestimmtes Problem verbessern?
				Prinzipiell käme dann ein induktiver Ansatz infrage.
				</label> <br> <br>
		  	<label>Ist mein Ziel das Testen einer Theorie?
				Möchte ich eine bestehende oder entwickelte Theorie statistisch validieren?
				Prinzipiell käme dann ein deduktiver Ansatz infrage.
				</label> <br><br> <br>
			<label>Habe ich mehrere Ziele, die ich vereinen will?
				Möchte ich verschiedene Ansätze kombinieren?
				Prinzipiell käme ein Mix aus verschiedenen Ansätzen infrage.
				</label> <br><br> <br>
			<label>Welche Forschungsstrategie möchte ich anwenden? 
				Ist diese der Problemstellung und der Forschungsfrage angemessen?
				</label><br><br> <br>
			<label>Welche Forschungsziele verfolge ich? Was beabsichtige ich mit diesem Forschungsdesign? </label><br><br> <br>
			<label>Welche Begrenzung nehme ich vor? Spielen für meine Forschung viele verschiedene Fälle/Beobachtungen eine Rolle oder nur ein ganz bestimmter?</label><br><br> <br>
			<label>Welches Setting wähle ich für meine Forschung? </label><br><br> <br>
			<label>Welche zeitliche Strategie wähle ich für meine Forschung? Wie sind die einzelnen Teile des Forschungsdesigns zeitlich gelagert? </label><br><br> <br>
			<label>Welches Ergebnis ist zu erwarten durch mein Forschungsdesign? Was kommt am Ende dabei heraus? </label><br><br> <br>
			<label>Welche Motivation hat das Forschungsdesign? Geht es eher um Verstehen oder das Lösen eines Problems?</label><br><br> <br>
			
		  	<b>Deine Forschungsfragen</b><br>
			<label id="lblquestion"></label> <br> <br> <br>
			<b>Deine Problemstellung</b><br>
			<label id="lblproblem"></label> <br> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="design1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/designController.js">
	</script>
	
</body>
</html>