<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Forschungsdesign</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Machen Sie hier Angaben zu ihrem geplanten Forschungsdesign, dass Sie in der Arbeit verfolgen.</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="design" id="design"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Leitfragen</b> <br>
		  	<label>Wie planst du im Großen deine Forschungsfrage zu beantworten und das definierte Problem zu erforschen?</label> <br><br>
			<label>Welche Nebenbedingungen musst du dabei besonders beachten?</label> <br> <br>
		  	<label>Bist du sicher, dass du damit dein Forschungsziel erreichst?</label> <br><br> <br>
			<b>Typ Mensch</b><br>
		  	<label>Wo würdest Du Dich verorten?</label> <br> <br> <br>
		  	<b>Deine Forschungsfragen</b><br>
			<label id="lblquestion"></label> <br> <br> <br>
			<b>Deine Problemstellung</b><br>
			<label id="lblproblem"></label> <br> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="design1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="designSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a> 
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/designController.js">
	</script>
	
</body>
</html>