<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Forschungsergebnis</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Das Forschungsergebnis stellt den konkreten Output dar, den Du mit Deinem Forschungsdesign, Deiner gewählten Forschungsstrategie und den verwendeten Methoden und Techniken produzierst. <br>
				Dein Forschungsergebnis spiegelt in gewisser Weise auch Deine Forschungsziele wieder.<br>
				Wenn Dein Ziel beispielsweise die Entwicklung einer Theorie war, dann sollte als Forschungsergebnis auch eine Theorie herauskommen und keine Marktanalyse.<br>
				Das Forschungsergebnis sollte also konsistent sein mit deinem Forschungsziel und dem Forschungsparadigma, in dem Du forscht. <br>
				Das Forschungsergebnis wird stark beeinflusst von Deinem Forschungsziel, Deiner Forschungsstrategie und vor allem den angewendeten Methoden und Techniken.
			</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="result" id="result"  maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
		   	<b>Leitfragen</b> <br>
		  	<label>Was kommt am Ende Deines Forschungsprozesses heraus?</label> <br><br>
		  	<label>Wie kannst Du dieses Ergebnis charakterisieren?</label> <br><br>
	  		<label>Welcher Klasse bzw. welchem Typ ist das Ergebnis Deiner Forschung zuzuordnen?</label> <br><br> <br>
	  		<b>Dein Forschungsdesign</b><br>
			<label id="lbldesign"></label> <br> <br> <br>
		  	<b>Deine Forschungsfragen</b><br>
			<label id="lblquestion"></label> <br> <br> <br>
			<b>Dein Forschungsziel</b><br>
			<label id="lblgoal"></label> <br> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="result1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="resultSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="resultSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/resultController.js">
		
	</script>
	
</body>
</html>