<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Übersicht</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Bitte kontrolliere noch einmal deine zuvor getätigten Eingaben. Wenn du mit allem einverstanden bist, speichere unten rechts deine Daten.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Kontrolle</b> <br>
			  	<label>Die erwarteten Ergebnisse der Arbeit werden beschrieben.</label> <br> <br>
				<label>Die erwarteten Ergebnisse adressieren die Problemstellung.</label> <br> <br>
		   		<label>Die erwarteten Ergebnisse passen zu den Forschungsfragen bzw. Forschungsziele.</label> <br> <br>
		   		<label>Die erwarteten Ergebnisse passen zum Forschungsdesign, zur Forschungsstrategie und zu den eingeplanten Methoden und/oder Techniken.</label> <br> <br>
		   		<label>Der erwartete Nutzen der Ergebnisse der Arbeit wird unter Bezugnahme von Nutznießern bzw. einer Zielgruppe beschrieben.</label> <br> <br>
		   		<label>Die Nutznießer bzw. die Zielgruppe decken sich mit den im Rahmen der Identifikation der Problemstellung genannten AdressatInnen.</label> <br> <br>
		   		<label>Die erwarteten Ergebnisse lassen eigenständige Leistungen erkennen.</label> <br> <br>
		   </div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="result1.html"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" class="active" href="resultSave.html"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a> 
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a> 
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/resultController.js"></script>
</body>
</html>