<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container" style="grid-template-rows: 12% 20% 61% 7%;">
	  <div class="TitelArea">
		  	<h2>Forschungsfragen</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Die Fragestellung wird aus der Problemstellung abgeleitet. Mit der Fragestellung wird ein Aspekt der Problemstellung detaillierter betrachtet.<br>
				Im Bereich der Wirtschaftsinformatik sind zwei Grundtypen von Fragestellungen relevant:<br>
				<br>
				<b>Ziel der Erklärung</b><br>
				Hier versuchst Du etwas zu verstehen, etwas zu erklären. Wahrheit und Erkenntnis spielen eine tragende Rolle.<br>
				Warum ist etwas der Fall? Wie lässt sich ein Sachverhalt erklären?<br>
				Beispielsweise, warum unterscheidet sich x von y? <br>
				Warum hat sich xy verändert?<br>
				<br>
				<b>Ziel der Gestaltung</b><br>
				Hier entwirfst Du etwas, baust etwas und kreierst eine nützliche Lösung.<br>
				Wie lässt sich ein Sachverhalt gestalten?<br>
				Welche Maßnahmen sind geeignet, um ein bestimmtes Ziel zu erreichen?<br>
				Beispielsweise, wie kann xy gefördert werden? Welche Maßnahmen eignen sich, um xy zu erzeugen?<br>
				<br>
				Eine Forschungsfrage sollte in ihrer Formulierung anzeigen, welchem Typ sie entspricht. Die Forschungsfrage legt größtenteils fest, wie Du allgemein in Deiner Abschlussarbeit forschst. 
				Das Forschungsdesign inklusive Forschungsstrategie, Methoden und Techniken hängt signifikant davon ab, wie Du bezogen auf Deine Problemstellung, fragst.
								
			</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="questions" id="questions" maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText" style="font-size: 25px;">
   			<b>Deine Problemstellung:</b><br>
		  	<label id="lblallProblems"></label> <br><br>
		   	<b>Leitfragen</b>
		  	<ul>
		  		<li>Welcher Perspektive möchtest Du einnehmen:
			  		<ul>
				  		<li>Möchtest Du ein Problem besser Verstehen oder erklären?</li>
				  		<li>Möchtest Du aktiv einen Sachverhalt gestalten und eine konkrete Lösung konzipieren, 
				  			konstruieren, entwickeln oder bauen, die ein bestimmtes Problem adressiert?</li>
			  		</ul>
		  		</li>
		  		<li>
		  			Welcher Aspekt der Problemstellung interessiert Dich und wie möchtest Du diesen erforschen?
		  		</li>
		  	</ul>

	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="questions1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="questionSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="questionSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/questionController.js"></script>
	
</body>
</html>