<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container" style="grid-template-rows: 12% 20% 61% 7%;">
	  <div class="TitelArea">
		  	<h2>Schwächen</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Die WO-Feldergruppe dient der Analyse möglicher Schwächen und Risiken in Deinem Konzept. 
	  		Außerdem werden hier Stärken dokumentiert, die aus Deinem Konzept oder Deiner Person heraus stammen, 
	  		die Du nutzbringend einsetzen solltest.<br>
	  		Die WO-Feldergruppe verlangt von Dir in analytisch-rationales Denken. 
			Es geht hier um das Bewerten von Schwächen Risiken und Stärken Deines Konzepts und die Anpassung von Entscheidungen.<br>
			<br>
			Es empfiehlt sich, die Felder der WO-Feldergruppe erst dann zu bearbeiten, wenn Du eine vollständige Gesamtiteration gemacht hast, d.h. mindestes eine Konzeptidee vollständig mit der Canvas bearbeitet hast.
			
			Die WO-Feldergruppe zielt primär auf die Verbindungen zwischen Feldergruppen ab. Es soll der Zusammenhang zwischen den Feldergruppen untersucht werden. Du überprüfst dabei, inwieweit die ausgefüllten Feldergruppen zueinander passen und ob Dein Konzept schlüssig ist, ob sich ein roter Faden ziehen lässt.
	  		</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="weaknesses" id="weaknesses" maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Leitfragen</b> <br>
		  	<label>
		  	Bei welchen Entscheidungen fühlst Du Dich noch unsicher?<br>
			Wo hast Du am wenigsten Ideen gehabt?<br><br>
			Wo läuft Dein Konzept Gefahr, dass es so nicht durchgeführt werden kann?<br>
			Ist Dein Konzept, so wie Du es vor Dir liegen hast, machbar?<br>
			Ist Dein Konzept für die Art Deiner Abschlussarbeit angemessen?<br>
			</label> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
		 			<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="weaknesses1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="weaknessSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="weaknessSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/weaknessController.js">
	</script>
	
</body>
</html>