<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Schwächen</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Definieren Sie hier ihre Schwächen</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="weaknesses" id="weaknesses"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Leitfragen</b> <br>
		  	<label>Was sind deine Schwächen im Bezug auf dein Studium?</label> <br> <br>
		  	<label>In welchen Modulen warst du nicht erfolgreich?</label> <br> <br>
		  	<label>Wo liegen deine persönlichen Schwächen?</label> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="weaknesses1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a href="weaknessSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a> 
				</div>
			</div> 
		</div>  	
	</div>
	
	<script type="text/javascript" src="../../controller/weaknessController.js">
	</script>
	
</body>
</html>