<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadControllPara()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Forschungsziel - Übersicht</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Bitte kontrolliere noch einmal deine zuvor getätigten Eingaben. Wenn du mit allem einverstanden bist, speichere unten rechts deine Daten.</h3>
	  </div>
	<div class="InputArea">
	  	<div class="wrapper">
	  		<textarea class="WholePageArea" id="controllpage"  maxlength="250"></textarea>
	  	</div>
  	</div>
	  <div class="InformationArea">
		   <div class="InformationText">
			   	<b>Kontrolle</b> <br>
			  	<label>
			  		Zielsetzung ist logisch nachvollziehbar<br><br>
					Zielsetzung klärt Lesende auf und gibt an, was sie zu erwarten haben<br><br>
					Zielsetzung stellt konkreten Arbeitsauftrag an Dich dar<br><br>
					Zielsetzung ist präzise, klar und eindeutig formuliert<br><br>
					Zielsetzung ermöglicht eine Tiefe in der Bearbeitung <br><br>
					Zielsetzung lässt einen angemessenen Eigenanteil zu<br><br>
					Zielsetzung führt zu theoretischen und/oder praktischen Erkenntnissen<br><br>
					Zielsetzung kann in der vorgegebenen Zeit bewältigt werden<br><br>
					Zielsetzung ist für die Wirtschaftsinformatik relevant<br><br>
					Zielsetzung gibt Hinweise auf Art der Forschung und groben Ablauf der Arbeit<br><br>
				</label> 
		   </div> 
 		</div>
	  <div class="Navigation-Bar">
	  	<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a href="goal1.html"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" class="active" href="goalSave.html"><img alt="" src="../../icons/notepad.png"></a> 
				  	<!-- <a style="float:right" href="../video.html"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				   	<a style="float:right" href=""><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				  	<a id="safeButton" style="float:right" onclick="save()"><img alt="" src="../../icons/floppyIcon.png"></a> 
				</div>
			</div> 
	  </div> 	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script src="../../controller/goalController.js"></script>
</body>
</html>