<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body onload="loadparameter()">
	<div class="container">
	  <div class="TitelArea">
		  	<h2>Forschungsziel</h2>
	  </div>
	  <div class="SubtitelArea">
	  		<h3>Ausgehend von der formulierten Problemstellung und besonders der Fragestellung leitest Du die Zielsetzung der Arbeit ab. Die Zielsetzung bildet den Auftrag der Arbeit, definiert also das, was durch die Arbeit erreicht werden soll.
				Deine Zielsetzung adressiert Deine Problemstellung. Du legst damit fest, welchen Teil der Problemstellung Du fokussieren willst. Somit spiegelt das Forschungsziel in gewisser Weise die Forschungsfrage wider, nur eben nicht als Frage formuliert. 
				Die Ableitung einer Zielsetzung sollte auch als iterativer Prozess begriffen werden. Es ist wichtig, den richtigen Umfang der Zielsetzung zu finden und die Zielsetzung klar und präzise in zwei bis drei Sätzen formulieren zu können. Es bietet sich auch an, die Beiträge bzw. Liefergegenstände der Arbeit explizit in der Zielsetzung zu benennen.
				Die Zielsetzung ist sehr eng verbunden mit dem Forschungsergebnis, dass am Ende der Durchführung Deines Forschungsdesigns steht. 
			</h3>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="researchgoal" id="researchgoal"  maxlength="250"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Leitfragen:</b> <br>
		  	<label>
		  		Welches Ziel verfolgst Du primär? Erklärung oder Gestaltung?<br><br>
				Ist Dein Forschungsziel kohärent zu Deiner Forschungsfrage und Deiner Problemstellung? Ist die Verknüpfung logisch nachvollziehbar?<br><br>
			</label> <br> <br>
		   	<b>Beispiele:</b> <br>
		  	<label>Lernerfolg für Studierende in der digitalen Gruppenarbeit sicherstellen</label> <br> <br>
			<label>Gestaltung eines prototypischen Tools</label> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a id="canvasButton" style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="goal1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a id="checkButton" href="goalSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a id="nextButton" href="goalSave.html" onclick="saveInSession()"><img alt="" src="../../icons/right.png"></a>
				  	<!-- <a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a>  -->
				</div>
			</div> 
		</div>  	
	</div>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="../../controller/tooltipController.js"></script>
	<script type="text/javascript" src="../../controller/goalController.js">
	</script>
</body>
</html>