<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="../../style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<title>Prototype</title>
</head>
<body>
	<div class="container">
	  <div class="TitelArea">
		  <div class="wrapper">
		  	<h2>Forschungsziel</h2>
		  </div>
	  </div>
	  <div class="SubtitelArea">
	  	<div class="wrapper">
	  		<h3>Definiere dein Forschungsziel</h3>
	  	</div>
	  </div>
	  <div class="InputArea">
	  <div class="wrapper">
	  	<textarea class="WholePageArea" name="researchgoal" id="researchgoal"></textarea>
	  	</div>
	  </div>
	  <div class="InformationArea">
	   <div class="InformationText">
	   		<b>Leitfragen:</b> <br>
		  	<label>Welches Ziel wird anvisiert mit der Beantwortung der Forschungsfrage?</label> <br> <br>
			<label>Was erreichst du am Ende der Arbeit?</label> <br> <br>
			<label>Verfolgst du eher ein Erklärungsziel oder ein Gestaltungsziel?</label> <br> <br>
		   	<b>Beispiele:</b> <br>
		  	<label>Lernerfolg für Studierende in der digitalen Gruppenarbeit sicherstellen</label> <br> <br>
			<label>Gestaltung eines prototypischen Tools</label> <br> <br>
	   </div>
	  </div>
  		<div class="Navigation-Bar">
	  		<div class="wrappermarginmid">
				<div class="persNavbar">
				 	<a style="float:left" href="../canvas.html" onclick="saveInSession()"><img alt="" src="../../icons/back.png"></a> 
			 	 	<a class="active" href="goal1.html" onclick="saveInSession()"><img alt="" src="../../icons/1.png"></a> 
				  	<a href="persSave.html" onclick="saveInSession()"><img alt="" src="../../icons/notepad.png"></a> 
				  	<a style="float:right" href="../video.html" onclick="saveInSession()"><img alt="" src="../../pictures/youtubeIcon.png"></a> 
				  	<a style="float:right" href="" onclick="saveInSession()"><img alt="" src="../../pictures/speakerIcon.png"></a> 
				</div>
			</div> 
		</div>  	
	</div>
	<script type="text/javascript">
		if(sessionStorage.getItem("researchgoal")){
			document.getElementById("researchgoal").innerHTML = sessionStorage.getItem("researchgoal")
		}
	
	
		function saveInSession() {
			var data = document.getElementById("researchgoal").value
			sessionStorage.setItem("researchgoal", data);
		}
	</script>
</body>
</html>